<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
  <h2>Registration Page</h2><br>
  
  <form action="#" th:action="@{/submitForm}" th:object="${user}" method="post">
  		<label>First Name: </label>
  		<input type="text" th:field=*{firstName}/><br>
  		
  		<label>Last Name: </label>
  		<input type="text" th:field=*{lastName}/><br>
  		
  		<label>Email : </label>
  		<input type="email" th:field=*{email}/><br>
  		
  		<input type="submit" value="Register"/>
  		
  </form>
</body>
</html>